# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Backend
backend/target/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store

# Env
.env
*.local
